main {
	width: 80%;
	margin: 0 auto;
}

form {
	margin: 40px auto;
}

label {
	display:block;
    font-size: 20px;
    margin: 0 0 10px;
	font-family: 'YoungSerifRegular', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

input {
	display:block;
	width: 50%;
    margin: 0 0 20px;
    padding: 10px 25px;
}