p {
    font-family: 'KarlaBoldStencil', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.produtos {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    vertical-align: top;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    padding: 35px 25px;
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos li:active {
    border-radius: 0px 20px 40px 10px;
    border-width: 2px 5px 5px 2px
}

.produtos h2 {
    font-size: 28px;
    font-family: 'YoungSerifRegular', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}